<head>
    <title>Type Code</title>
    <link rel="shortcut icon" href="/images/logo.ico" type="image/x-icon">
    <link rel="icon" href="/images/logo.ico" type="image/x-icon">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/blaze/3.6.3/blaze.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
</head>