<body class="fsa-text">
    <div class="fsa-wrapper">
        <div id="react-root"></div>
        <div class="fsa-push"></div>
    </div>
    <footer class="fsa-footer u-center-block">
      <div class="u-center-block__content">
        <a href="http://federicosilva.net/">Federico Silva Armas</a> @2017
      </div>
    </footer>
</body>