// layouts
@import '{}/imports/ui/MainLayout.less';

// parts
@import '{}/imports/ui/parts/EditorPart.less';
@import '{}/imports/ui/parts/FileSelectorPart.less';
@import '{}/imports/ui/parts/HeaderPart.less';
@import '{}/imports/ui/parts/CountDownPart.less';
@import '{}/imports/ui/parts/LessonCreatorPart.less';
@import '{}/imports/ui/parts/LessonSelectorPart.less';
@import '{}/imports/ui/parts/LessonItemPart.less';
@import '{}/imports/ui/parts/KeyboardPart.less';

// dialogs
@import '{}/imports/ui/dialogs/Dialog.less';
@import '{}/imports/ui/dialogs/ResultDialog.less';
@import '{}/imports/ui/dialogs/LessonCompleteDialog.less';
@import '{}/imports/ui/dialogs/LessonExistsDialog.less';

// pages
@import '{}/imports/ui/pages/AboutPage.less';
@import '{}/imports/ui/pages/HomePage.less';
@import '{}/imports/ui/pages/FreePracticePage.less';
@import '{}/imports/ui/pages/LessonPage.less';

// Sticky Footer by Ryan Fait http://ryanfait.com/
* {
    margin: 0;
}

html, body {
    height: 100%;
}

.fsa-wrapper {
    min-height: 100%;
    margin: 0 auto -40px; /* the bottom margin is the negative value of the footer's height */
}

.fsa-footer, .fsa-push {
    height: 40px; /* '.push' must be the same height as 'footer' */
}

.fsa-footer {
    background-color: black;
    color: white;

    a {
        color: white;
    }
}
// Sticky footer

.c-input-group .fsa-span:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.c-input-group .fsa-span {
    border-radius: 0;
}

.fsa-span {
    border: 1px solid #96a8b2;
    border-right: none;
    background-color: #fff;
    display: inline;
    max-width: 100%;
    margin: 0;
    padding: .5em;
    border-radius: 4px;
    outline: 0;
    font-family: inherit;
    font-size: 1em;
    line-height: normal;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
}

.fsa-text {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.5;
}

.fsa-centered {
    text-align: center;
}

.fsa-italic {
    font-style: italic;
}