.homePage {
    .quick-practice {
        margin-top: 40px;
    }

    .separator {
        position: relative;
        text-align: center;
        margin: 40px 0 20px 0;
    }

    .separator .line {
        width: 100%;
        border-bottom: 1px solid lightgrey;
    }

    .separator .text {
        width: 100px;
        position: relative;
        background-color: white;
        top: -11px;
        margin: auto;
    }
}
