.resultDialog {
    footer {
        float: right;
    }

    header {
        text-align: center;
    }

    .fsa-button {
        margin-right: 5px;
    }

    .fsa-grid-label {
        text-align: right;
        font-weight: bold;
    }

    .fsa-grid {
        margin-bottom: 15px;
    }

    .fsa-grid:first-child {
        margin-top: 20px;
    }

    .fsa-cell-success {
        color: #4caf50;
    }

    .fsa-cell-error {
        color: #f44336;
    }

    .fsa-cell-info {
        color: #3c556e;
    }
}