.editorPart {
    .control {
        display: inline-block;
        opacity: 0.5;
        margin-left: 15px;
        cursor: not-allowed;
    }

    .control.active {
        opacity: 1;
    }

    .control.active:hover {
        cursor: pointer;
    }

    .controls {
        overflow: auto;
    }

    .buttons {
        float: left;
    }

    .bottom-controls {
        margin-top: 10px;
        height: 10px;

        button {
            float: right;
        }
    }

    .timer {
        float: right;
        margin-top: 10px;
        color: #2c3e50;
    }

    .countdown {
        text-align: center;
        margin-top: 10px;
    }

    .editor-div {
        width: 100%;
        height: 600px;
        border: 1px solid grey;
    }

    .text-disabled {
        opacity: 0.3;
    }

    .cursor-waiting {
        background-color: yellow;
    }

    .cursor-typing {
        background-color: #91DC5A;
    }

    .cursor-eol {
        background-image: url('images/cursor-eol.png');
        background-repeat: no-repeat;
        background-size: 20px;
        background-color: #91DC5A;
        width: 20px !important;
        z-index: 1;
    }

    .cursor-eof {
        background-image: url('images/cursor-eof.png');
        background-repeat: no-repeat;
        background-size: 20px;
        background-color: #91DC5A;
        width: 20px !important;
        z-index: 1;
    }

    .cursor-backspace {
        background-image: url('images/cursor-backspace.png');
        background-repeat: no-repeat;
        background-size: 20px;
        background-color: red;
        width: 20px !important;
        z-index: 1;
    }

    .cursor-error {
        background-color: red;
    }
}
