.fileSelectorPart {
    overflow: auto;

    .file-options {
        float: right;
        margin: 5px 50px 0 0;
    }

    .file-option {
        width: 150px;
        display: inline-block;
        margin-left: 5px;
    }
}