.lessonItemPart {
    margin-bottom: 10px;

    .c-card:hover {
        background-color: #bdccdb;
        cursor: pointer;

        .c-card__item.lesson-header {
            background-color: #2c3e50;
        }
    }

    .removeLesson {
        float: right;
        z-index: 10;
    }

    .removeLesson:hover {
        cursor: pointer;
        color: red;
    }

    .last-accessed {
        float: right;
        margin-right: 20px;
    }

    .c-progress {
        text-align: inherit;
    }

    .progress-text {
        position: absolute;
        color: black;
        margin-left: 15px;
    }
}